 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');
 * {
     margin: 0;
 }
 
 //la imagen del hero esta muy grande la tengo que achicar
 //el nav estari bueno que quede fixed arriba cuando vamos recorriendo el main
 //todos los estilos son pruebas de cosas se pueden cambiar
 //  $color-principal-modo-claro: #733f17;
 //  $color-secundario-modo-claro: #c88251;
 //  $color-terciario-modo-claro: #3f0000;
 //  $color-acento-modo-claro: #EDA01A;
 //  $color-cuarto-modo-claro: #d8aa6e;
 // 
 // Variables
 $font-principal:'Titillium Web';
 $full:100%;
 $medium:50%;
 $escala-media:7em;
 $escala-media-baja:2em;
 $escala-baja:1em;
 $grosor-font: bold 700;
 $color-relleno-font:#12b0c9;
 $sombra-generica: 1px 1px 1px 1px #000000,
 inset 4px 4px 5px 0px #000000;
 $color-sombra:#49ff18;
 $sombra-texto:0 0 5px #FFF,
 0 0 10px #FFF,
 0 0 15px #FFF,
 0 0 20px $color-sombra,
 0 0 30px $color-sombra,
 0 0 40px $color-sombra,
 0 0 55px $color-sombra,
 0 0 75px $color-sombra,
 2px 2px 2px rgba(206,89,55,0),2px 2px 2px 
 rgba(206,89,55,0);
 $color-boton:rgb(145,200,70,1);
 $transparente:transparent;
 $color-tipografia-modo-claro: #f7d4bd;
 $color-background:rgb(60,182,64,1);
 $display-none: none;
 $auto : auto;
 // 
 //Mixins
 @mixin flex-centrar($content: center,
 $direccion: column) {
     display: flex;
     justify-content: $content;
     align-items: center;
     flex-direction: $direccion;
     flex-wrap: wrap;
 }
 
 .oculto {
     display: $display-none;
 }
 
 //  
 body {
     background: $color-background;
     background: linear-gradient(90deg, $color-background 0%, $color-boton 35%, rgba(242, 236, 32, 1) $full);
     header {
         @include flex-centrar($content: start);
         h1 {
             color: $color-relleno-font;
             font-family: $font-principal;
             font-size: $escala-media;
             font-style: $grosor-font;
             position: absolute;
             text-shadow: $sombra-texto;
             z-index: 1;
             //  @media (max-width: 200px) {
             //      header h1 {
             //          color: blue;
             //          font-size: 1rem;
             //      }
             //  }
         }
         #hero {
             width: $full;
         }
     }
     nav {
         @include flex-centrar($content: space-evenly, $direccion: row);
         background: rgb(31, 63, 22);
         background: radial-gradient(circle, rgb(28, 122, 104) 0%, rgb(25, 46, 5) $full);
         border-radius: 20px;
         box-shadow: 6px 6px 6px 6px #000000, inset 10px 10px 10px 0px #000000;
         color: $color-tipografia-modo-claro;
         font-family: $font-principal;
         font-size: 1.3em;
         font-style: $grosor-font;
         margin: $escala-baja;
         padding: $escala-baja;
         width:  $auto;
         input {
             border-radius: 50px;
             box-shadow: $sombra-generica;
             height: $escala-media;
             width: 18em;
         }
         button {
             background-color: $color-boton;
             background-image: url("imagenes/fondo-botones.png");
             border-radius: $medium;
             box-shadow: $sombra-generica;
             font-family: $font-principal;
             height: $escala-media;
             text-align: center;
             width: $escala-media;
         }
         select {
             background-color: $transparente;
             border-radius: $medium;
             box-shadow: $sombra-generica;
             height: $escala-media;
             width: $escala-media;
         }
         #div-input-busqueda {
             @include flex-centrar($content: center, $direccion: column);
             display: $display-none;
             #form-busqueda-capitulos {
                 display: none;
                 @include flex-centrar($content: center, $direccion: column)

             }
             #form-busqueda-personaje {
                 display: none;
                 @include flex-centrar($content: center, $direccion: column)
             }
             #form-busqueda-universos {
                 display: none;
                 @include flex-centrar($content: center, $direccion: column)
             }
         }
     }
     main {
         @include flex-centrar();
         background: $transparente;
         background-image: url(imagenes/fondo-rick-morty.svg);
         font-family: $font-principal;
         width: $full;
         .tarjetas-orden {
             @include flex-centrar($content: space-between, $direccion: row);
             padding: $escala-media-baja;
         }
         .tarjetas-datos-universo {
             @include flex-centrar();
             background-color: blue;
             height: 250px;
             margin: 10px;
             width: 20%;
             img {
                 width: 50%;
             }
         }
         #tarjeta-detalles {
             @include flex-centrar($direccion: row);
             z-index: 3;
             .tarjeta-detalle-individual {
                 @include flex-centrar();
                 background-color: white;
                 height: 500px;
                 img {
                     width: 90%;
                 }
             }
         }
         .detalles {
             background-color: rgba(46, 46, 46, 0.294);
             height: $full;
             position: fixed;
             top: 0;
             width: $full;
         }
         button {
             background-color: $color-boton;
             background-image: url("imagenes/fondo-botones.png");
             border-radius: $medium;
             box-shadow: $sombra-generica;
             font-family: $font-principal;
             height: $escala-media;
             margin: $escala-baja;
             text-align: center;
             width: $escala-media;
             z-index: 2;
         }
         #botones-paginado-principal {
             display: none;
         }
         #botones-paginado-busqueda {
             display: $display-none
         }
     }
     footer {
         width: $full;
         @include flex-centrar($content: end);
         img {
             filter: drop-shadow(0 -6mm 4mm rgb(31, 63, 22));
             position: absolute;
             width: $full;
             z-index: 1;
         }
         #redes-footer {
             @include flex-centrar($content: start);
             color: $color-relleno-font;
             font-family: $font-principal;
             font-size: $escala-media-baja;
             font-style: $grosor-font;
             text-shadow: $sombra-texto;
             z-index: 2;
         }
     }
     @media screen and (min-width: 200px) and (max-width: 290px) {
         header h1 {
             font-size: 1rem;
         }
         nav button,
         main article button {
             font-size: 6px;
             height: 2rem;
             width: 2rem;
         }
         nav #div-input-busqueda #form-busqueda-capitulos,
         nav #div-input-busqueda #form-busqueda-universos,
         nav #div-input-busqueda #form-busqueda-personaje {
             @include flex-centrar();
             font-size: 15px;
         }
         nav #div-input-busqueda #form-busqueda-capitulos input,
         nav #div-input-busqueda #form-busqueda-universos input,
         nav #div-input-busqueda #form-busqueda-personaje input {
             height: 25px;
             width: 100px;
         }
         main #tarjetas-principales {
             width: 12em;
         }
         main article #seccion-tarjeta div img {
             width: $full;
         }
         main section .tarjetas-datos-universo{
             font-size: 0.4rem;
             height:  $auto;
             width: $full;
             background-color: #FFF;
         }
         footer div a h3 {
             font-size: 20px;
         }
         footer div a h5 {
             font-size: 10px;
         }
     }
     @media screen and (min-width: 291px) and (max-width: 376px){
        header h1 {
            font-size: 1.8rem;
        }
        nav button,
        main article button {
            font-size: 9px;
            height:3rem;
            width: 3rem;
        }
        nav #div-input-busqueda #form-busqueda-capitulos,
        nav #div-input-busqueda #form-busqueda-universos,
        nav #div-input-busqueda #form-busqueda-personaje {
            @include flex-centrar();
            font-size: 20px;
        }
        nav #div-input-busqueda #form-busqueda-capitulos input,
        nav #div-input-busqueda #form-busqueda-universos input,
        nav #div-input-busqueda #form-busqueda-personaje input {
            height: 30px;
            width: 180px;
        }
        main #tarjetas-principales {
            width: 15em;
        }
        main article #seccion-tarjeta div img {
            width: $full;
        }
        main section .tarjetas-datos-universo{
            font-size: 0.7rem;
            height:  $auto;
            width: $full;
            background-color: #FFF;
        }
        footer div a h3 {
            font-size: 25px;
        }
        footer div a h5 {
            font-size: 15px;
        }
     }
 }