@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
}

.oculto {
  display: none;
}

body {
  background: #3cb640;
  background: linear-gradient(90deg, #3cb640 0%, #91c846 35%, #f2ec20 100%);
}
body header {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body header h1 {
  position: absolute;
  z-index: 1;
  font-family: "Titillium Web";
  font-style: bold 700;
  font-size: 7em;
  color: #12b0c9;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
}
body header #hero {
  width: 100%;
}
body nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  background: #1f3f16;
  background: radial-gradient(circle, #1c7a68 0%, #192e05 100%);
  color: #f7d4bd;
  padding: 1em;
  margin: 1em;
  border-radius: 20px;
  box-shadow: 6px 6px 6px 6px #000000, inset 10px 10px 10px 0px #000000;
  font-family: "Titillium Web";
  font-style: bold 700;
  font-size: 1.3em;
}
body nav input {
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  border-radius: 50px;
  width: 18em;
  height: 7em;
}
body nav button {
  background-image: url("imagenes/fondo-botones.png");
  width: 7em;
  height: 7em;
  border-radius: 50%;
  text-align: center;
  background-color: #91c846;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  font-family: "Titillium Web";
}
body nav select {
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  width: 7em;
  height: 7em;
  border-radius: 50%;
}
body nav #div-input-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
  font-family: "Titillium Web";
  background-image: url(imagenes/fondo-rick-morty.svg);
}
body main .tarjetas-orden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
}
body main #tarjeta-detalles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
}
body main #tarjeta-detalles .tarjeta-detalle-individual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  height: 500px;
}
body main #tarjeta-detalles .tarjeta-detalle-individual img {
  width: 90%;
}
body main .detalles {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.294);
}
body main button {
  background-image: url("imagenes/fondo-botones.png");
  width: 7em;
  height: 7em;
  border-radius: 50%;
  text-align: center;
  background-color: #91c846;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  font-family: "Titillium Web";
  margin: 1em;
  z-index: 2;
}
body main #botones-paginado-busqueda {
  display: none;
}
body footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body footer img {
  width: 100%;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 -6mm 4mm #a000d2);
}
body footer #redes-footer {
  z-index: 2;
  font-family: "Titillium Web";
  font-style: bold 700;
  font-size: 2em;
  color: #12b0c9;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
}

/*# sourceMappingURL=style.css.map */
