@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
}

//la imagen del hero esta muy grande la tengo que achicar
//el nav estari bueno que quede fixed arriba cuando vamos recorriendo el main
//todos los estilos son pruebas de cosas se pueden cambiar

$color-principal-modo-claro: #733f17;
$color-secundario-modo-claro: #c88251;
$color-terciario-modo-claro: #3f0000;
$color-acento-modo-claro: #EDA01A;
$color-tipografia-modo-claro: #f7d4bd;
$color-cuarto-modo-claro: #d8aa6e;

body{
    background: rgb(60,182,64);
    background: linear-gradient(90deg, rgba(60,182,64,1) 0%, rgba(145,200,70,1) 35%, rgba(242,236,32,1) 100%);
    
    #hero {
        width: 100%;
        filter: drop-shadow(0 0 0.75rem rgb(16, 82, 18));
    }

    nav {
        width: auto;
        background: rgb(145,200, 70);
        background: radial-gradient(circle, rgba(145, 200, 70, 1) 0%, rgba(18, 176, 201, 1) 100%);
        color: $color-tipografia-modo-claro;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        margin-top: 1em;
        border-radius: 40px;
       box-shadow: 6px 6px 6px 6px #000000, inset 10px 10px 10px 0px #000000;
        font-family: 'Titillium Web', sans-serif;
        font-style:bold 700;
        font-size: 1.3em;
    
        }
    nav button {
        background-image: url("imagenes/fondo-botones.png") ;
       width: 7em;
       height: 7em;
        border-radius: 50%;
        text-align: center;
        background-color:  rgb(145,200, 70);
        box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
        font-family: 'Titillium Web', sans-serif;
       
    }
    nav input{
        background-color: transparent;
        box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
        border-radius: 50px;
        width: 14em;
       height: 7em;
        
    }

    nav select {
        border-radius: 50px;
        background-color: transparent;
        box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
        width: 8em;
    }

main {
    width: 100%;  
    background: transparent;
    font-family: 'Titillium Web', sans-serif;
    
    

    #vector-fondo-main{
        width: 100%;
        position: absolute;
        z-index: -1;
    }
   
    #seccion-tarjeta {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2em;
    }


        #tarjeta-detalles {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 1em;
        }

        #botones{
            display: flex;
            justify-content: center;
            margin: 1em;
            
            
        }
        #botones button{
            margin: 1em;
            font-family: 'Titillium Web', sans-serif;
            border-radius: 50px;
            background-color: transparent;
            box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
            width: 8em;
        }
    
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    
  
}

   footer img{

    position: absolute;
    z-index: -1;
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
  

}

#redes-footer {

    font-family: 'Titillium Web', sans-serif;
    font-style: bold 700;
    font-size: 2em;
    color:rgb(18, 176, 201) ;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,89,55,0), 2px 2px 2px rgba(206,89,55,0);
}


#botones-paginado-busqueda {
    display: none
}
}