@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
}

body {
  background: #3cb640;
  background: linear-gradient(90deg, #3cb640 0%, #91c846 35%, #f2ec20 100%);
}
body header {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body header h1 {
  color: #12b0c9;
  font-family: "Titillium Web";
  font-size: 7em;
  font-style: bold 700;
  position: absolute;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  z-index: 1;
}
body header #hero {
  box-shadow: 0 0 15px 14px #031112;
  width: 100%;
}
body nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #1f3f16;
  background: radial-gradient(circle, #1c7a68 0%, #192e05 100%);
  border-radius: 20px;
  box-shadow: 6px 6px 6px 6px #000000, inset 10px 10px 10px 0px #000000;
  color: #f7d4bd;
  font-family: "Titillium Web";
  font-size: 1.3em;
  font-style: bold 700;
  margin: 1em;
  padding: 1em;
  width: auto;
}
body nav input {
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  height: 2.5rem;
  width: 18em;
}
body nav button {
  background-color: #91c846;
  background-image: url("imagenes/fondo-botones.png");
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  font-family: "Titillium Web";
  height: 7em;
  text-align: center;
  width: 7em;
}
body nav select {
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  height: 2.1rem;
  width: 6rem;
}
body nav #div-input-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}
body nav #div-input-busqueda #form-busqueda-capitulos {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body nav #div-input-busqueda #form-busqueda-personaje {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body nav #div-input-busqueda #form-busqueda-universos {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  background-image: url(imagenes/fondo-rick-morty.svg);
  font-family: "Titillium Web";
  width: 100%;
}
body main .tarjetas-orden {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
}
body main .tarjetas-datos {
  margin: 2em;
}
body main .diseño-card-general {
  background-color: white;
  box-shadow: 0px 4px 12px 7px darkslategrey;
  font-size: 10px;
  visibility: visible;
}
body main .tarjetas-datos-universo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  margin: 10px;
  width: 20%;
}
body main .tarjetas-datos-universo img {
  width: 50%;
}
body main #tarjeta-detalles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 3;
}
body main #tarjeta-detalles .tarjeta-detalle-individual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  height: 500px;
}
body main #tarjeta-detalles .tarjeta-detalle-individual img {
  width: 90%;
}
body main #tarjeta-detalles .tarjeta-detalle-individual-universo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  height: 500px;
  width: 350px;
}
body main #tarjeta-detalles .tarjeta-detalle-individual-universo img {
  width: 100%;
}
body main .detalles {
  background-color: rgba(46, 46, 46, 0.294);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
body main button {
  background-color: #91c846;
  background-image: url("imagenes/fondo-botones.png");
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px #000000, inset 4px 4px 5px 0px #000000;
  font-family: "Titillium Web";
  height: 7em;
  margin: 1em;
  text-align: center;
  width: 7em;
  z-index: 2;
}
body main #botones-paginado-principal {
  display: none;
}
body main #botones-paginado-busqueda {
  display: none;
}
body footer {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
body footer img {
  filter: drop-shadow(0 -6mm 4mm #1f3f16);
  position: absolute;
  width: 100%;
  z-index: 1;
}
body footer #redes-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #12b0c9;
  font-family: "Titillium Web";
  font-size: 2em;
  font-style: bold 700;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  z-index: 2;
}
@media screen and (min-width: 200px) and (max-width: 290px) {
  body header h1 {
    font-size: 1rem;
  }
  body nav button,
body main article button {
    font-size: 6px;
    height: 2rem;
    width: 2rem;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos,
body nav #div-input-busqueda #form-busqueda-universos,
body nav #div-input-busqueda #form-busqueda-personaje {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos input,
body nav #div-input-busqueda #form-busqueda-universos input,
body nav #div-input-busqueda #form-busqueda-personaje input {
    height: 25px;
    width: 100px;
  }
  body main #tarjetas-principales {
    display: flex;
  }
  body main article #seccion-tarjeta {
    width: 80%;
    font-size: 10px;
  }
  body main article #seccion-tarjeta div img {
    width: 100%;
  }
  body main section .tarjetas-datos-universo {
    font-size: 0.4rem;
    height: auto;
    width: 100%;
    background-color: #FFF;
  }
  body main #tarjeta-detalles .tarjeta-detalle-individual-universo {
    height: 350px;
    width: 200px;
  }
  body footer div h3 {
    font-size: 20px;
  }
  body footer div a h5 {
    font-size: 10px;
  }
}
@media screen and (min-width: 291px) and (max-width: 376px) {
  body header h1 {
    font-size: 1.8rem;
  }
  body nav button,
body main article button {
    font-size: 9px;
    height: 3rem;
    width: 3rem;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos,
body nav #div-input-busqueda #form-busqueda-universos,
body nav #div-input-busqueda #form-busqueda-personaje {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos input,
body nav #div-input-busqueda #form-busqueda-universos input,
body nav #div-input-busqueda #form-busqueda-personaje input {
    height: 30px;
    width: 180px;
  }
  body main article #seccion-tarjeta div img {
    width: 100%;
  }
  body main section .tarjetas-datos-universo {
    font-size: 0.7rem;
    height: auto;
    width: 100%;
    background-color: #FFF;
  }
  body main #tarjeta-detalles .tarjeta-detalle-individual-universo {
    height: 350px;
    width: 200px;
  }
  body footer div a h3 {
    font-size: 25px;
  }
  body footer div a h5 {
    font-size: 15px;
  }
}
@media screen and (min-width: 377px) and (max-width: 500px) {
  body header h1 {
    font-size: 2.3rem;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos input,
body nav #div-input-busqueda #form-busqueda-universos input,
body nav #div-input-busqueda #form-busqueda-personaje input {
    height: 40px;
    width: 250px;
  }
  body nav button,
body main article button {
    font-size: 12px;
    height: 4rem;
    width: 4rem;
  }
  body main article #seccion-tarjeta div img {
    width: 100%;
  }
  body main section .tarjetas-datos-universo {
    background-color: #FFF;
    font-size: 1.2rem;
    height: auto;
    width: 100%;
  }
  body main #tarjeta-detalles .tarjeta-detalle-individual-universo {
    height: 400px;
    width: 250px;
  }
}
@media screen and (min-width: 501px) and (max-width: 611px) {
  body header h1 {
    font-size: 3rem;
  }
  body main article section .tarjetas-datos {
    width: 70%;
  }
  body main section .tarjetas-datos-universo {
    background-color: #FFF;
    font-size: 1.2rem;
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 612px) and (max-width: 768px) {
  body header h1 {
    font-size: 3.7rem;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos input,
body nav #div-input-busqueda #form-busqueda-universos input,
body nav #div-input-busqueda #form-busqueda-personaje input {
    height: 50px;
    width: 300px;
  }
  body main section .tarjetas-datos-universo {
    background-color: #FFF;
    font-size: 1.2rem;
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body header h1 {
    font-size: 4.8rem;
  }
  body nav #div-input-busqueda #form-busqueda-capitulos input,
body nav #div-input-busqueda #form-busqueda-universos input,
body nav #div-input-busqueda #form-busqueda-personaje input {
    height: 60px;
    width: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body header h1 {
    font-size: 6rem;
  }
  body footer img {
    margin-top: 13rem;
  }
  body footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  body nav {
    margin-bottom: 8rem;
  }
  body footer img {
    margin-top: 15rem;
  }
  body footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
